.Swip .swiper {
  width: 1200px;
  height: 470px;
  position: relative;
  bottom: 190px;
}

.Swip .swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: white;
  border: 1px solid #cdcbcb;
  /* Center slide text vertically */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.Swip .swiper-slide img {
  display: block;
  width: 100%;
  position: relative;
  bottom: 0px;
  /* height: 100%; */
  object-fit: cover;
}
.Swip .p-bl {
  position: relative;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.834);
  width: 353px;
  height: 30px;
  font-size: 15px;
  /* top: 2px; */
  padding-top: 13px;
  padding-left: 20px;
  margin-top: 7px;
  color: #6aaf2d;
  /* z-index: 2000; */
}
.Swip .hh4 {
  position: relative;
  bottom: 90px;
  left: 20px;
}
.Swip .pp-0 {
  position: relative;
  bottom: 140px;
  left: 20px;
}
.Swip .swiper-pagination-bullet {
  background: none;
}
.Swip .swiper-button-next {
  background: none;
  color: white;
  position: relative;
  top: 20px;
}
.Swip .swiper-button-prev {
  background: none;
  color: white;
  position: relative;
  top: 20px;
  /* color:; */
}
